:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.side-bar {
  height: 100%;
  background: rgb(219,106,10);
  background: linear-gradient(135deg, rgba(219,106,10,0.9318102240896359) 7%, rgba(219,106,10,0.6096813725490196) 15%, rgba(208,159,63,0) 29%);
}

.divider {
  color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin: 5% 5% 5% 5%;
}

