<mat-nav-list class="side-bar">
    <div class="profile-card">
        <div class="header">
            <h2>Hi, Aluwani</h2>
            <h4>aluwani@metalcasting.co.za</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider class="divider"></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>announcements</mat-icon>
        Posts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>bookmark</mat-icon>
        Articles
    </a>

    <mat-divider class="divider"></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>



</mat-nav-list>


