ul li {
  list-style: none;
}

.tool-bar {
  background: rgb(219, 106, 10);
  background: linear-gradient(135deg, rgba(219,106,10,0.9318102240896359) 7%, rgba(219,106,10,0.6096813725490196) 15%, rgba(208,159,63,0) 25%);
}