<mat-card class="card">

    <h2 class="register-header">METAL CASTING TECHNOLOGY</h2>

    <mat-card-content fxLayout="column"  class="register">

        <mat-form-field class="field">
            <input type="email" placeholder="Name" formControlName="Name">
        </mat-form-field>


        <mat-form-field class="field">
            <input type="password" placeholder="Surname" formControlName="Surname">
        </mat-form-field>

        <mat-form-field class="field">
            <input type="password" placeholder="Email" formControlName="Email">
        </mat-form-field>

        <mat-form-field class="field">
            <input type="password" placeholder="Address" formControlName="Address">
        </mat-form-field>

        <mat-form-field class="field">
            <input type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="field">
            <input type="password" placeholder="Confirm Password" formControlName="Confirm Password">
        </mat-form-field>


        <div >
            <button class="button" style="margin-right: 6%; margin-left: 2%" mat-raised-button routerLink="/login">back</button>
            <button class="button" mat-raised-button routerLink="/register">Sign up</button>
        </div>

    </mat-card-content>

    <h1 class="register-footer" routerLink="/quote">Request a free quotation</h1>
</mat-card>