@import '~@angular/material/theming';

:host .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
    font-size: 40px;
}

.mat-card {
    color: #fff;
    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {
        font-size: 40px !important;
    }
    .mat-card-subtitle {
        color: #fff;
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }
}

.mat-card.P-Invoice-Value-Added {
    background: rgb(246,128,12);
    background: linear-gradient(318deg, rgba(246,128,12,0.819765406162465) 0%, rgba(255,110,64,0.458420868347339) 79%);
}

.mat-card.A-Invoice-Value-Added {
    background: rgb(246,128,12);
    background: linear-gradient(318deg, rgba(246,128,12,1) 15%, rgba(255,110,64,0.458420868347339) 70%);
}

.mat-card.On-Time-Deliveries {
    background: rgb(78,52,46);
    background: linear-gradient(318deg, rgba(78,52,46,1) 21%, rgba(255, 131, 41, 0.45) 70%);

}

.mat-card.In-Budget-Projects {
    background: rgb(78,52,46);
    background: linear-gradient(318deg, rgba(78,52,46,0.8533788515406162) 24%, rgba(121,85,72,0.6825105042016807) 85%);

}

.mat-card.Customer-Satisfaction {
    background: rgb(78,52,46);
    background: linear-gradient(318deg, rgba(78,52,46,1) 24%, rgba(188,170,164,0.7861519607843137) 85%);

}