:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 20%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  padding: 2%;
  background: #f9f9f9;
}
