:host {
    display: flex;
    flex-direction: column;
    height: 100%;min-height:100%;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video_overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(66, 66, 66, 0.49);

}

.card {
  width: auto;
  height: auto;
  padding-bottom: 3%;
  z-index: 11;
  margin: auto;
  font-size: 16px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  background: linear-gradient(90deg, rgb(217, 120, 5) 0%, rgba(209, 134, 25, 0.91) 35%, rgba(255, 254, 252, 0.95) 100%);

}


.column {
  float: left;
  width: 50%;
  height: auto;
}


/* style inputs and link buttons */
input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.button{
  width: 100%;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  background: #424242;
  color: white;
}

input:hover,
.button:hover {
  opacity: 1;
}


.line {
  position: absolute;
  left: 45%;
  transform: translate(-50%);
  border: 1px solid #ddd;
  height: 65%;
}


.header {
  margin-bottom: 6%;
  font-size: 1.4em;
  font-weight: bolder;
  text-align: center;
  height: 4.5%;
  text-transform: uppercase;
  color: #fff;
}

.mainDiv{
  position: relative;
}
#add-button{

  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}