<div id="video_overlays"></div>

<video autoplay muted loop id="myVideo" >
    <source src="../../../assets/Casting.mp4" type="video/mp4">
</video>


<mat-card class="card">


    <div class="header" ></div>
    <div class="line">
    </div>

    <mat-card-content >
        <div class="column" fxLayout="column">
            <div style="padding: 0 9%">
                <img style="height: 100%; width: 100%" src="../../../assets/mtc.png">
            </div>
        </div>
        <div class="column"  fxLayout="column">
            <div style="padding: 0% 20% 0% 0%">
                <input matInput style="margin-bottom: 7%" type="text" placeholder="Username" [(ngModel)]="username" [value]="username" required>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" [value]="password" required>
            </div>

        </div>

    </mat-card-content>

    <mat-card-actions style="display: flex; padding: 0% 5.5% 0% 0%;">
        <button mat-button style="margin-right: 7%; margin-top: 7%" class="button" (click)="signIn(username, password)"> Login </button>
        <button mat-button style="margin-top: 7%"  class="button"  > Register </button>
    </mat-card-actions>


    <mat-card-footer style="margin-top: 5.5%" >
        <a href="#" style="color:white" class="btn">Forgot your password?</a>
    </mat-card-footer>

</mat-card>


<div class="customer-list">
    <button mat-fab color="primary" id="add-button" matTooltip="Add customer" mat-menu-item="{{this.fabButtonsRandom}}"><i class="material-icons" >help</i></button>
</div>


<div id="loading" style="display: none">
    <mat-progress-spinner [mode]="indeterminate">
    </mat-progress-spinner>

</div>
